In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re


import warnings
warnings.filterwarnings('ignore')   # para quitar esos prints

pd.set_option('display.max_columns', None)

In [40]:
Actors = pd.read_csv('data/actor.csv', encoding = 'ISO 8859-1')

In [41]:
type(Actors)

pandas.core.frame.DataFrame

In [42]:
Actors.columns

Index(['actor_id', 'first_name', 'last_name', 'last_update'], dtype='object')

In [43]:
Actors.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [44]:
Actors.drop_duplicates
Actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [45]:
Actors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.4+ KB

In [46]:
Actors.isnull().sum()

actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

In [47]:
Actors["last_update"]

0      2006-02-15 04:34:33
1      2006-02-15 04:34:33
2      2006-02-15 04:34:33
3      2006-02-15 04:34:33
4      2006-02-15 04:34:33
              ...
195    2006-02-15 04:34:33
196    2006-02-15 04:34:33
197    2006-02-15 04:34:33
198    2006-02-15 04:34:33
199    2006-02-15 04:34:33
Name: last_update, Length: 200, dtype: object

In [48]:
Categories = pd.read_csv('data/category.csv', encoding = 'ISO 8859-1')

In [49]:
Categories.columns

Index(['category_id', 'name', 'last_update'], dtype='object')

In [50]:
Categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

In [51]:
Categories["category_id"]

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
Name: category_id, dtype: int64

In [52]:
Categories["last_update"]

0     2006-02-15 04:46:27
1     2006-02-15 04:46:27
2     2006-02-15 04:46:27
3     2006-02-15 04:46:27
4     2006-02-15 04:46:27
5     2006-02-15 04:46:27
6     2006-02-15 04:46:27
7     2006-02-15 04:46:27
8     2006-02-15 04:46:27
9     2006-02-15 04:46:27
10    2006-02-15 04:46:27
11    2006-02-15 04:46:27
12    2006-02-15 04:46:27
13    2006-02-15 04:46:27
14    2006-02-15 04:46:27
15    2006-02-15 04:46:27
Name: last_update, dtype: object

In [53]:
Films = pd.read_csv('data/film.csv', encoding = 'ISO 8859-1')

In [54]:
Films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

In [77]:
Films["language_id"].unique()

array([1])

In [57]:
Films.drop("original_language_id", axis=1, inplace= True)

In [58]:
Films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
 11  last_update       1000 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 93.9+ KB

In [113]:
Films["title"].unique()

array(['ACADEMY DINOSAUR', 'ACE GOLDFINGER', 'ADAPTATION HOLES',
       'AFFAIR PREJUDICE', 'AFRICAN EGG', 'AGENT TRUMAN',
       'AIRPLANE SIERRA', 'AIRPORT POLLOCK', 'ALABAMA DEVIL',
       'ALADDIN CALENDAR', 'ALAMO VIDEOTAPE', 'ALASKA PHANTOM',
       'ALI FOREVER', 'ALICE FANTASIA', 'ALIEN CENTER', 'ALLEY EVOLUTION',
       'ALONE TRIP', 'ALTER VICTORY', 'AMADEUS HOLY',
       'AMELIE HELLFIGHTERS', 'AMERICAN CIRCUS', 'AMISTAD MIDSUMMER',
       'ANACONDA CONFESSIONS', 'ANALYZE HOOSIERS', 'ANGELS LIFE',
       'ANNIE IDENTITY', 'ANONYMOUS HUMAN', 'ANTHEM LUKE',
       'ANTITRUST TOMATOES', 'ANYTHING SAVANNAH', 'APACHE DIVINE',
       'APOCALYPSE FLAMINGOS', 'APOLLO TEEN', 'ARABIA DOGMA',
       'ARACHNOPHOBIA ROLLERCOASTER', 'ARGONAUTS TOWN', 'ARIZONA BANG',
       'ARK RIDGEMONT', 'ARMAGEDDON LOST', 'ARMY FLINTSTONES',
       'ARSENIC INDEPENDENCE', 'ARTIST COLDBLOODED', 'ATLANTIS CAUSE',
       'ATTACKS HATE', 'ATTRACTION NEWTON', 'AUTUMN CROW', 'BABY HALL',
       'BACKLASH UNDEFEATED', 'BADMAN DAWN', 'BAKED CLEOPATRA',
       'BALLOON HOMEWARD', 'BALLROOM MOCKINGBIRD', 'BANG KWAI',
       'BANGER PINOCCHIO', 'BARBARELLA STREETCAR', 'BAREFOOT MANCHURIAN',
       'BASIC EASY', 'BEACH HEARTBREAKERS', 'BEAR GRACELAND',
       'BEAST HUNCHBACK', 'BEAUTY GREASE', 'BED HIGHBALL',
       'BEDAZZLED MARRIED', 'BEETHOVEN EXORCIST', 'BEHAVIOR RUNAWAY',
       'BENEATH RUSH', 'BERETS AGENT', 'BETRAYED REAR', 'BEVERLY OUTLAW',
       'BIKINI BORROWERS', 'BILKO ANONYMOUS', 'BILL OTHERS',
       'BINGO TALENTED', 'BIRCH ANTITRUST', 'BIRD INDEPENDENCE',
       'BIRDCAGE CASPER', 'BIRDS PERDITION', 'BLACKOUT PRIVATE',
       'BLADE POLISH', 'BLANKET BEVERLY', 'BLINDNESS GUN',
       'BLOOD ARGONAUTS', 'BLUES INSTINCT', 'BOILED DARES',
       'BONNIE HOLOCAUST', 'BOOGIE AMELIE', 'BOONDOCK BALLROOM',
       'BORN SPINAL', 'BORROWERS BEDAZZLED', 'BOULEVARD MOB',
       'BOUND CHEAPER', 'BOWFINGER GABLES', 'BRANNIGAN SUNRISE',
       'BRAVEHEART HUMAN', 'BREAKFAST GOLDFINGER', 'BREAKING HOME',
       'BRIDE INTRIGUE', 'BRIGHT ENCOUNTERS', 'BRINGING HYSTERICAL',
       'BROOKLYN DESERT', 'BROTHERHOOD BLANKET', 'BUBBLE GROSSE',
       'BUCKET BROTHERHOOD', 'BUGSY SONG', 'BULL SHAWSHANK',
       'BULWORTH COMMANDMENTS', 'BUNCH MINDS', 'BUTCH PANTHER',
       'BUTTERFLY CHOCOLAT', 'CABIN FLASH', 'CADDYSHACK JEDI',
       'CALENDAR GUNFIGHT', 'CALIFORNIA BIRDS', 'CAMELOT VACATION',
       'CAMPUS REMEMBER', 'CANDIDATE PERDITION', 'CANDLES GRAPES',
       'CANYON STOCK', 'CAPER MOTIONS', 'CARIBBEAN LIBERTY',
       'CAROL TEXAS', 'CARRIE BUNCH', 'CASABLANCA SUPER',
       'CASPER DRAGONFLY', 'CASSIDY WYOMING', 'CASUALTIES ENCINO',
       'CAT CONEHEADS', 'CATCH AMISTAD', 'CAUSE DATE', 'CELEBRITY HORN',
       'CENTER DINOSAUR', 'CHAINSAW UPTOWN', 'CHAMBER ITALIAN',
       'CHAMPION FLATLINERS', 'CHANCE RESURRECTION', 'CHAPLIN LICENSE',
       'CHARADE DUFFEL', 'CHARIOTS CONSPIRACY', 'CHASING FIGHT',
       'CHEAPER CLYDE', 'CHICAGO NORTH', 'CHICKEN HELLFIGHTERS',
       'CHILL LUCK', 'CHINATOWN GLADIATOR', 'CHISUM BEHAVIOR',
       'CHITTY LOCK', 'CHOCOLAT HARRY', 'CHOCOLATE DUCK',
       'CHRISTMAS MOONSHINE', 'CIDER DESIRE', 'CINCINATTI WHISPERER',
       'CIRCUS YOUTH', 'CITIZEN SHREK', 'CLASH FREDDY', 'CLEOPATRA DEVIL',
       'CLERKS ANGELS', 'CLOCKWORK PARADISE', 'CLONES PINOCCHIO',
       'CLOSER BANG', 'CLUB GRAFFITI', 'CLUE GRAIL', 'CLUELESS BUCKET',
       'CLYDE THEORY', 'COAST RAINBOW', 'COLDBLOODED DARLING',
       'COLOR PHILADELPHIA', 'COMA HEAD', 'COMANCHEROS ENEMY',
       'COMFORTS RUSH', 'COMMAND DARLING', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'CONFESSIONS MAGUIRE',
       'CONFIDENTIAL INTERVIEW', 'CONFUSED CANDLES', 'CONGENIALITY QUEST',
       'CONNECTICUT TRAMP', 'CONNECTION MICROCOSMOS', 'CONQUERER NUTS',
       'CONSPIRACY SPIRIT', 'CONTACT ANONYMOUS', 'CONTROL ANTHEM',
       'CONVERSATION DOWNHILL', 'CORE SUIT', 'COWBOY DOOM',
       'CRAFT OUTFIELD', 'CRANES RESERVOIR', 'CRAZY HOME',
       'CREATURES SHAKESPEARE', 'CREEPERS KANE', 'CROOKED FROGMEN',
       'CROSSING DIVORCE', 'CROSSROADS CASUALTIES', 'CROW GREASE',
       'CROWDS TELEMARK', 'CRUELTY UNFORGIVEN', 'CRUSADE HONEY',
       'CRYSTAL BREAKING', 'CUPBOARD SINNERS', 'CURTAIN VIDEOTAPE',
       'CYCLONE FAMILY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'DALMATIONS SWEDEN', 'DANCES NONE', 'DANCING FEVER',
       'DANGEROUS UPTOWN', 'DARES PLUTO', 'DARKNESS WAR', 'DARKO DORADO',
       'DARLING BREAKING', 'DARN FORRESTER', 'DATE SPEED',
       'DAUGHTER MADIGAN', 'DAWN POND', 'DAY UNFAITHFUL', 'DAZED PUNK',
       'DECEIVER BETRAYED', 'DEEP CRUSADE', 'DEER VIRGINIAN',
       'DELIVERANCE MULHOLLAND', 'DESERT POSEIDON', 'DESIRE ALIEN',
       'DESPERATE TRAINSPOTTING', 'DESTINATION JERK', 'DESTINY SATURDAY',
       'DETAILS PACKER', 'DETECTIVE VISION', 'DEVIL DESIRE',
       'DIARY PANIC', 'DINOSAUR SECRETARY', 'DIRTY ACE',
       'DISCIPLE MOTHER', 'DISTURBING SCARFACE', 'DIVIDE MONSTER',
       'DIVINE RESURRECTION', 'DIVORCE SHINING', 'DOCTOR GRAIL',
       'DOGMA FAMILY', 'DOLLS RAGE', 'DONNIE ALLEY', 'DOOM DANCING',
       'DOORS PRESIDENT', 'DORADO NOTTING', 'DOUBLE WRATH',
       'DOUBTFIRE LABYRINTH', 'DOWNHILL ENOUGH', 'DOZEN LION',
       'DRACULA CRYSTAL', 'DRAGON SQUAD', 'DRAGONFLY STRANGERS',
       'DREAM PICKUP', 'DRIFTER COMMANDMENTS', 'DRIVER ANNIE',
       'DRIVING POLISH', 'DROP WATERFRONT', 'DRUMLINE CYCLONE',
       'DRUMS DYNAMITE', 'DUCK RACER', 'DUDE BLINDNESS',
       'DUFFEL APOCALYPSE', 'DUMBO LUST', 'DURHAM PANKY', 'DWARFS ALTER',
       'DYING MAKER', 'DYNAMITE TARZAN', 'EAGLES PANKY', 'EARLY HOME',
       'EARRING INSTINCT', 'EARTH VISION', 'EASY GLADIATOR',
       'EDGE KISSING', 'EFFECT GLADIATOR', 'EGG IGBY', 'EGYPT TENENBAUMS',
       'ELEMENT FREDDY', 'ELEPHANT TROJAN', 'ELF MURDER',
       'ELIZABETH SHANE', 'EMPIRE MALKOVICH', 'ENCINO ELF',
       'ENCOUNTERS CURTAIN', 'ENDING CROWDS', 'ENEMY ODDS',
       'ENGLISH BULWORTH', 'ENOUGH RAGING', 'ENTRAPMENT SATISFACTION',
       'ESCAPE METROPOLIS', 'EVE RESURRECTION', 'EVERYONE CRAFT',
       'EVOLUTION ALTER', 'EXCITEMENT EVE', 'EXORCIST STING',
       'EXPECATIONS NATURAL', 'EXPENDABLE STALLION', 'EXPRESS LONELY',
       'EXTRAORDINARY CONQUERER', 'EYES DRIVING', 'FACTORY DRAGON',
       'FALCON VOLUME', 'FAMILY SWEET', 'FANTASIA PARK',
       'FANTASY TROOPERS', 'FARGO GANDHI', 'FATAL HAUNTED',
       'FEATHERS METAL', 'FELLOWSHIP AUTUMN', 'FERRIS MOTHER',
       'FEUD FROGMEN', 'FEVER EMPIRE', 'FICTION CHRISTMAS',
       'FIDDLER LOST', 'FIDELITY DEVIL', 'FIGHT JAWBREAKER',
       'FINDING ANACONDA', 'FIRE WOLVES', 'FIREBALL PHILADELPHIA',
       'FIREHOUSE VIETNAM', 'FISH OPUS', 'FLAMINGOS CONNECTICUT',
       'FLASH WARS', 'FLATLINERS KILLER', 'FLIGHT LIES',
       'FLINTSTONES HAPPINESS', 'FLOATS GARDEN', 'FLYING HOOK',
       'FOOL MOCKINGBIRD', 'FOREVER CANDIDATE', 'FORREST SONS',
       'FORRESTER COMANCHEROS', 'FORWARD TEMPLE', 'FRANKENSTEIN STRANGER',
       'FREAKY POCUS', 'FREDDY STORM', 'FREEDOM CLEOPATRA',
       'FRENCH HOLIDAY', 'FRIDA SLIPPER', 'FRISCO FORREST',
       'FROGMEN BREAKING', 'FRONTIER CABIN', 'FROST HEAD',
       'FUGITIVE MAGUIRE', 'FULL FLATLINERS', 'FURY MURDER',
       'GABLES METROPOLIS', 'GALAXY SWEETHEARTS', 'GAMES BOWFINGER',
       'GANDHI KWAI', 'GANGS PRIDE', 'GARDEN ISLAND', 'GASLIGHT CRUSADE',
       'GATHERING CALENDAR', 'GENTLEMEN STAGE', 'GHOST GROUNDHOG',
       'GHOSTBUSTERS ELF', 'GIANT TROOPERS', 'GILBERT PELICAN',
       'GILMORE BOILED', 'GLADIATOR WESTWARD', 'GLASS DYING',
       'GLEAMING JAWBREAKER', 'GLORY TRACY', 'GO PURPLE',
       'GODFATHER DIARY', 'GOLD RIVER', 'GOLDFINGER SENSIBILITY',
       'GOLDMINE TYCOON', 'GONE TROUBLE', 'GOODFELLAS SALUTE',
       'GORGEOUS BINGO', 'GOSFORD DONNIE', 'GRACELAND DYNAMITE',
       'GRADUATE LORD', 'GRAFFITI LOVE', 'GRAIL FRANKENSTEIN',
       'GRAPES FURY', 'GREASE YOUTH', 'GREATEST NORTH', 'GREEDY ROOTS',
       'GREEK EVERYONE', 'GRINCH MASSAGE', 'GRIT CLOCKWORK',
       'GROOVE FICTION', 'GROSSE WONDERFUL', 'GROUNDHOG UNCUT',
       'GUMP DATE', 'GUN BONNIE', 'GUNFIGHT MOON', 'GUNFIGHTER MUSSOLINI',
       'GUYS FALCON', 'HALF OUTFIELD', 'HALL CASSIDY', 'HALLOWEEN NUTS',
       'HAMLET WISDOM', 'HANDICAP BOONDOCK', 'HANGING DEEP',
       'HANKY OCTOBER', 'HANOVER GALAXY', 'HAPPINESS UNITED',
       'HARDLY ROBBERS', 'HAROLD FRENCH', 'HARPER DYING', 'HARRY IDAHO',
       'HATE HANDICAP', 'HAUNTED ANTITRUST', 'HAUNTING PIANIST',
       'HAWK CHILL', 'HEAD STRANGER', 'HEARTBREAKERS BRIGHT',
       'HEAVEN FREEDOM', 'HEAVENLY GUN', 'HEAVYWEIGHTS BEAST',
       'HEDWIG ALTER', 'HELLFIGHTERS SIERRA', 'HIGH ENCINO',
       'HIGHBALL POTTER', 'HILLS NEIGHBORS', 'HOBBIT ALIEN',
       'HOCUS FRIDA', 'HOLES BRANNIGAN', 'HOLIDAY GAMES',
       'HOLLOW JEOPARDY', 'HOLLYWOOD ANONYMOUS', 'HOLOCAUST HIGHBALL',
       'HOLY TADPOLE', 'HOME PITY', 'HOMEWARD CIDER', 'HOMICIDE PEACH',
       'HONEY TIES', 'HOOK CHARIOTS', 'HOOSIERS BIRDCAGE', 'HOPE TOOTSIE',
       'HORN WORKING', 'HORROR REIGN', 'HOTEL HAPPINESS', 'HOURS RAGE',
       'HOUSE DYNAMITE', 'HUMAN GRAFFITI', 'HUNCHBACK IMPOSSIBLE',
       'HUNGER ROOF', 'HUNTER ALTER', 'HUNTING MUSKETEERS',
       'HURRICANE AFFAIR', 'HUSTLER PARTY', 'HYDE DOCTOR',
       'HYSTERICAL GRAIL', 'ICE CROSSING', 'IDAHO LOVE', 'IDENTITY LOVER',
       'IDOLS SNATCHERS', 'IGBY MAKER', 'ILLUSION AMELIE',
       'IMAGE PRINCESS', 'IMPACT ALADDIN', 'IMPOSSIBLE PREJUDICE',
       'INCH JET', 'INDEPENDENCE HOTEL', 'INDIAN LOVE', 'INFORMER DOUBLE',
       'INNOCENT USUAL', 'INSECTS STONE', 'INSIDER ARIZONA',
       'INSTINCT AIRPORT', 'INTENTIONS EMPIRE', 'INTERVIEW LIAISONS',
       'INTOLERABLE INTENTIONS', 'INTRIGUE WORST', 'INVASION CYCLONE',
       'IRON MOON', 'ISHTAR ROCKETEER', 'ISLAND EXORCIST',
       'ITALIAN AFRICAN', 'JACKET FRISCO', 'JADE BUNCH', 'JAPANESE RUN',
       'JASON TRAP', 'JAWBREAKER BROOKLYN', 'JAWS HARRY', 'JEDI BENEATH',
       'JEEPERS WEDDING', 'JEKYLL FROGMEN', 'JEOPARDY ENCINO',
       'JERICHO MULAN', 'JERK PAYCHECK', 'JERSEY SASSY', 'JET NEIGHBORS',
       'JINGLE SAGEBRUSH', 'JOON NORTHWEST', 'JUGGLER HARDLY',
       'JUMANJI BLADE', 'JUMPING WRATH', 'JUNGLE CLOSER', 'KANE EXORCIST',
       'KARATE MOON', 'KENTUCKIAN GIANT', 'KICK SAVANNAH',
       'KILL BROTHERHOOD', 'KILLER INNOCENT', 'KING EVOLUTION',
       'KISS GLORY', 'KISSING DOLLS', 'KNOCK WARLOCK', 'KRAMER CHOCOLATE',
       'KWAI HOMEWARD', 'LABYRINTH LEAGUE', 'LADY STAGE',
       'LADYBUGS ARMAGEDDON', 'LAMBS CINCINATTI', 'LANGUAGE COWBOY',
       'LAWLESS VISION', 'LAWRENCE LOVE', 'LEAGUE HELLFIGHTERS',
       'LEATHERNECKS DWARFS', 'LEBOWSKI SOLDIERS', 'LEGALLY SECRETARY',
       'LEGEND JEDI', 'LESSON CLEOPATRA', 'LIAISONS SWEET',
       'LIBERTY MAGNIFICENT', 'LICENSE WEEKEND', 'LIES TREATMENT',
       'LIFE TWISTED', 'LIGHTS DEER', 'LION UNCUT', 'LOATHING LEGALLY',
       'LOCK REAR', 'LOLA AGENT', 'LOLITA WORLD', 'LONELY ELEPHANT',
       'LORD ARIZONA', 'LOSE INCH', 'LOSER HUSTLER', 'LOST BIRD',
       'LOUISIANA HARRY', 'LOVE SUICIDES', 'LOVELY JINGLE',
       'LOVER TRUMAN', 'LOVERBOY ATTACKS', 'LUCK OPUS', 'LUCKY FLYING',
       'LUKE MUMMY', 'LUST LOCK', 'MADIGAN DORADO', 'MADISON TRAP',
       'MADNESS ATTACKS', 'MADRE GABLES', 'MAGIC MALLRATS',
       'MAGNIFICENT CHITTY', 'MAGNOLIA FORRESTER', 'MAGUIRE APACHE',
       'MAIDEN HOME', 'MAJESTIC FLOATS', 'MAKER GABLES', 'MALKOVICH PET',
       'MALLRATS UNITED', 'MALTESE HOPE', 'MANCHURIAN CURTAIN',
       'MANNEQUIN WORST', 'MARRIED GO', 'MARS ROMAN', 'MASK PEACH',
       'MASKED BUBBLE', 'MASSACRE USUAL', 'MASSAGE IMAGE',
       'MATRIX SNOWMAN', 'MAUDE MOD', 'MEET CHOCOLATE',
       'MEMENTO ZOOLANDER', 'MENAGERIE RUSHMORE', 'MERMAID INSECTS',
       'METAL ARMAGEDDON', 'METROPOLIS COMA', 'MICROCOSMOS PARADISE',
       'MIDNIGHT WESTWARD', 'MIDSUMMER GROUNDHOG', 'MIGHTY LUCK',
       'MILE MULAN', 'MILLION ACE', 'MINDS TRUMAN', 'MINE TITANS',
       'MINORITY KISS', 'MIRACLE VIRTUAL', 'MISSION ZOOLANDER',
       'MIXED DOORS', 'MOB DUFFEL', 'MOCKINGBIRD HOLLYWOOD',
       'MOD SECRETARY', 'MODEL FISH', 'MODERN DORADO', 'MONEY HAROLD',
       'MONSOON CAUSE', 'MONSTER SPARTACUS', 'MONTEREY LABYRINTH',
       'MONTEZUMA COMMAND', 'MOON BUNCH', 'MOONSHINE CABIN',
       'MOONWALKER FOOL', 'MOSQUITO ARMAGEDDON', 'MOTHER OLEANDER',
       'MOTIONS DETAILS', 'MOULIN WAKE', 'MOURNING PURPLE',
       'MOVIE SHAKESPEARE', 'MULAN MOON', 'MULHOLLAND BEAST',
       'MUMMY CREATURES', 'MUPPET MILE', 'MURDER ANTITRUST',
       'MUSCLE BRIGHT', 'MUSIC BOONDOCK', 'MUSKETEERS WAIT',
       'MUSSOLINI SPOILERS', 'MYSTIC TRUMAN', 'NAME DETECTIVE',
       'NASH CHOCOLAT', 'NATIONAL STORY', 'NATURAL STOCK',
       'NECKLACE OUTBREAK', 'NEIGHBORS CHARADE', 'NEMO CAMPUS',
       'NETWORK PEAK', 'NEWSIES STORY', 'NEWTON LABYRINTH',
       'NIGHTMARE CHILL', 'NONE SPIKING', 'NOON PAPI', 'NORTH TEQUILA',
       'NORTHWEST POLISH', 'NOTORIOUS REUNION', 'NOTTING SPEAKEASY',
       'NOVOCAINE FLIGHT', 'NUTS TIES', 'OCTOBER SUBMARINE',
       'ODDS BOOGIE', 'OKLAHOMA JUMANJI', 'OLEANDER CLUE', 'OPEN AFRICAN',
       'OPERATION OPERATION', 'OPPOSITE NECKLACE', 'OPUS ICE',
       'ORANGE GRAPES', 'ORDER BETRAYED', 'ORIENT CLOSER', 'OSCAR GOLD',
       'OTHERS SOUP', 'OUTBREAK DIVINE', 'OUTFIELD MASSACRE',
       'OUTLAW HANKY', 'OZ LIAISONS', 'PACIFIC AMISTAD', 'PACKER MADIGAN',
       'PAJAMA JAWBREAKER', 'PANIC CLUB', 'PANKY SUBMARINE',
       'PANTHER REDS', 'PAPI NECKLACE', 'PARADISE SABRINA',
       'PARIS WEEKEND', 'PARK CITIZEN', 'PARTY KNOCK', 'PAST SUICIDES',
       'PATHS CONTROL', 'PATIENT SISTER', 'PATRIOT ROMAN',
       'PATTON INTERVIEW', 'PAYCHECK WAIT', 'PEACH INNOCENT',
       'PEAK FOREVER', 'PEARL DESTINY', 'PELICAN COMFORTS',
       'PERDITION FARGO', 'PERFECT GROOVE', 'PERSONAL LADYBUGS',
       'PET HAUNTING', 'PHANTOM GLORY', 'PHILADELPHIA WIFE',
       'PIANIST OUTFIELD', 'PICKUP DRIVING', 'PILOT HOOSIERS',
       'PINOCCHIO SIMON', 'PIRATES ROXANNE', 'PITTSBURGH HUNCHBACK',
       'PITY BOUND', 'PIZZA JUMANJI', 'PLATOON INSTINCT',
       'PLUTO OLEANDER', 'POCUS PULP', 'POLISH BROOKLYN',
       'POLLOCK DELIVERANCE', 'POND SEATTLE', 'POSEIDON FOREVER',
       'POTLUCK MIXED', 'POTTER CONNECTICUT', 'PREJUDICE OLEANDER',
       'PRESIDENT BANG', 'PRIDE ALAMO', 'PRIMARY GLASS', 'PRINCESS GIANT',
       'PRIVATE DROP', 'PRIX UNDEFEATED', 'PSYCHO SHRUNK', 'PULP BEVERLY',
       'PUNK DIVORCE', 'PURE RUNNER', 'PURPLE MOVIE', 'QUEEN LUKE',
       'QUEST MUSSOLINI', 'QUILLS BULL', 'RACER EGG', 'RAGE GAMES',
       'RAGING AIRPLANE', 'RAIDERS ANTITRUST', 'RAINBOW SHOCK',
       'RANDOM GO', 'RANGE MOONWALKER', 'REAP UNFAITHFUL', 'REAR TRADING',
       'REBEL AIRPORT', 'RECORDS ZORRO', 'REDEMPTION COMFORTS',
       'REDS POCUS', 'REEF SALUTE', 'REIGN GENTLEMEN', 'REMEMBER DIARY',
       'REQUIEM TYCOON', 'RESERVOIR ADAPTATION', 'RESURRECTION SILVERADO',
       'REUNION WITCHES', 'RIDER CADDYSHACK', 'RIDGEMONT SUBMARINE',
       'RIGHT CRANES', 'RINGS HEARTBREAKERS', 'RIVER OUTLAW',
       'ROAD ROXANNE', 'ROBBERS JOON', 'ROBBERY BRIGHT', 'ROCK INSTINCT',
       'ROCKETEER MOTHER', 'ROCKY WAR', 'ROLLERCOASTER BRINGING',
       'ROMAN PUNK', 'ROOF CHAMPION', 'ROOM ROMAN', 'ROOTS REMEMBER',
       'ROSES TREASURE', 'ROUGE SQUAD', 'ROXANNE REBEL',
       'RUGRATS SHAKESPEARE', 'RULES HUMAN', 'RUN PACIFIC',
       'RUNAWAY TENENBAUMS', 'RUNNER MADIGAN', 'RUSH GOODFELLAS',
       'RUSHMORE MERMAID', 'SABRINA MIDNIGHT', 'SADDLE ANTITRUST',
       'SAGEBRUSH CLUELESS', 'SAINTS BRIDE', 'SALUTE APOLLO',
       'SAMURAI LION', 'SANTA PARIS', 'SASSY PACKER',
       'SATISFACTION CONFIDENTIAL', 'SATURDAY LAMBS', 'SATURN NAME',
       'SAVANNAH TOWN', 'SCALAWAG DUCK', 'SCARFACE BANG', 'SCHOOL JACKET',
       'SCISSORHANDS SLUMS', 'SCORPION APOLLO', 'SEA VIRGIN',
       'SEABISCUIT PUNK', 'SEARCHERS WAIT', 'SEATTLE EXPECATIONS',
       'SECRET GROUNDHOG', 'SECRETARY ROUGE', 'SECRETS PARADISE',
       'SENSE GREEK', 'SENSIBILITY REAR', 'SEVEN SWARM',
       'SHAKESPEARE SADDLE', 'SHANE DARKNESS', 'SHANGHAI TYCOON',
       'SHAWSHANK BUBBLE', 'SHEPHERD MIDSUMMER', 'SHINING ROSES',
       'SHIP WONDERLAND', 'SHOCK CABIN', 'SHOOTIST SUPERFLY', 'SHOW LORD',
       'SHREK LICENSE', 'SHRUNK DIVINE', 'SIDE ARK', 'SIEGE MADRE',
       'SIERRA DIVIDE', 'SILENCE KANE', 'SILVERADO GOLDFINGER',
       'SIMON NORTH', 'SINNERS ATLANTIS', 'SISTER FREDDY', 'SKY MIRACLE',
       'SLACKER LIAISONS', 'SLEEPING SUSPECTS', 'SLEEPLESS MONSOON',
       'SLEEPY JAPANESE', 'SLEUTH ORIENT', 'SLING LUKE',
       'SLIPPER FIDELITY', 'SLUMS DUCK', 'SMILE EARRING',
       'SMOKING BARBARELLA', 'SMOOCHY CONTROL', 'SNATCH SLIPPER',
       'SNATCHERS MONTEZUMA', 'SNOWMAN ROLLERCOASTER',
       'SOLDIERS EVOLUTION', 'SOMETHING DUCK', 'SONG HEDWIG',
       'SONS INTERVIEW', 'SORORITY QUEEN', 'SOUP WISDOM', 'SOUTH WAIT',
       'SPARTACUS CHEAPER', 'SPEAKEASY DATE', 'SPEED SUIT',
       'SPICE SORORITY', 'SPIKING ELEMENT', 'SPINAL ROCKY',
       'SPIRIT FLINTSTONES', 'SPIRITED CASUALTIES', 'SPLASH GUMP',
       'SPLENDOR PATTON', 'SPOILERS HELLFIGHTERS', 'SPY MILE',
       'SQUAD FISH', 'STAGE WORLD', 'STAGECOACH ARMAGEDDON',
       'STALLION SUNDANCE', 'STAMPEDE DISTURBING', 'STAR OPERATION',
       'STATE WASTELAND', 'STEEL SANTA', 'STEERS ARMAGEDDON',
       'STEPMOM DREAM', 'STING PERSONAL', 'STOCK GLASS', 'STONE FIRE',
       'STORM HAPPINESS', 'STORY SIDE', 'STRAIGHT HOURS',
       'STRANGELOVE DESIRE', 'STRANGER STRANGERS', 'STRANGERS GRAFFITI',
       'STREAK RIDGEMONT', 'STREETCAR INTENTIONS', 'STRICTLY SCARFACE',
       'SUBMARINE BED', 'SUGAR WONKA', 'SUICIDES SILENCE', 'SUIT WALLS',
       'SUMMER SCARFACE', 'SUN CONFESSIONS', 'SUNDANCE INVASION',
       'SUNRISE LEAGUE', 'SUNSET RACER', 'SUPER WYOMING', 'SUPERFLY TRIP',
       'SUSPECTS QUILLS', 'SWARM GOLD', 'SWEDEN SHINING',
       'SWEET BROTHERHOOD', 'SWEETHEARTS SUSPECTS', 'TADPOLE PARK',
       'TALENTED HOMICIDE', 'TARZAN VIDEOTAPE', 'TAXI KICK',
       'TEEN APOLLO', 'TELEGRAPH VOYAGE', 'TELEMARK HEARTBREAKERS',
       'TEMPLE ATTRACTION', 'TENENBAUMS COMMAND', 'TEQUILA PAST',
       'TERMINATOR CLUB', 'TEXAS WATCH', 'THEORY MERMAID',
       'THIEF PELICAN', 'THIN SAGEBRUSH', 'TIES HUNGER', 'TIGHTS DAWN',
       'TIMBERLAND SKY', 'TITANIC BOONDOCK', 'TITANS JERK',
       'TOMATOES HELLFIGHTERS', 'TOMORROW HUSTLER', 'TOOTSIE PILOT',
       'TORQUE BOUND', 'TOURIST PELICAN', 'TOWERS HURRICANE', 'TOWN ARK',
       'TRACY CIDER', 'TRADING PINOCCHIO', 'TRAFFIC HOBBIT',
       'TRAIN BUNCH', 'TRAINSPOTTING STRANGERS', 'TRAMP OTHERS',
       'TRANSLATION SUMMER', 'TRAP GUYS', 'TREASURE COMMAND',
       'TREATMENT JEKYLL', 'TRIP NEWTON', 'TROJAN TOMORROW',
       'TROOPERS METAL', 'TROUBLE DATE', 'TRUMAN CRAZY', 'TURN STAR',
       'TUXEDO MILE', 'TWISTED PIRATES', 'TYCOON GATHERING',
       'UNBREAKABLE KARATE', 'UNCUT SUICIDES', 'UNDEFEATED DALMATIONS',
       'UNFAITHFUL KILL', 'UNFORGIVEN ZOOLANDER', 'UNITED PILOT',
       'UNTOUCHABLES SUNRISE', 'UPRISING UPTOWN', 'UPTOWN YOUNG',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'VALENTINE VANISHING',
       'VALLEY PACKER', 'VAMPIRE WHALE', 'VANILLA DAY', 'VANISHED GARDEN',
       'VANISHING ROCKY', 'VARSITY TRIP', 'VELVET TERMINATOR',
       'VERTIGO NORTHWEST', 'VICTORY ACADEMY', 'VIDEOTAPE ARSENIC',
       'VIETNAM SMOOCHY', 'VILLAIN DESPERATE', 'VIRGIN DAISY',
       'VIRGINIAN PLUTO', 'VIRTUAL SPOILERS', 'VISION TORQUE',
       'VOICE PEACH', 'VOLCANO TEXAS', 'VOLUME HOUSE', 'VOYAGE LEGALLY',
       'WAGON JAWS', 'WAIT CIDER', 'WAKE JAWS', 'WALLS ARTIST',
       'WANDA CHAMBER', 'WAR NOTTING', 'WARDROBE PHANTOM',
       'WARLOCK WEREWOLF', 'WARS PLUTO', 'WASH HEAVENLY',
       'WASTELAND DIVINE', 'WATCH TRACY', 'WATERFRONT DELIVERANCE',
       'WATERSHIP FRONTIER', 'WEDDING APOLLO', 'WEEKEND PERSONAL',
       'WEREWOLF LOLA', 'WEST LION', 'WESTWARD SEABISCUIT',
       'WHALE BIKINI', 'WHISPERER GIANT', 'WIFE TURN', 'WILD APOLLO',
       'WILLOW TRACY', 'WIND PHANTOM', 'WINDOW SIDE', 'WISDOM WORKER',

In [71]:
Films["film_id"].unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000])

In [63]:
Films["last_update"].duplicated()

0      False
1       True
2       True
3       True
4       True
       ...
995     True
996     True
997     True
998     True
999     True
Name: last_update, Length: 1000, dtype: bool

In [141]:
Films.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   release_year      1000 non-null   int64
 4   language_id       1000 non-null   int64
 5   rental_duration   1000 non-null   int64
 6   rental_rate       1000 non-null   float64
 7   length            1000 non-null   int64
 8   replacement_cost  1000 non-null   float64
 9   rating            1000 non-null   object
 10  special_features  1000 non-null   object
 11  last_update       1000 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 93.9+ KB

In [150]:
Films.to_csv('Films_clean.csv', index=False)

In [144]:
Films.head(5)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [145]:
Films["Language_language_id"]= ''

In [148]:
Films["inventory2_inventory_id"]= ""

In [149]:
Films["old_hdd2_category_id"] = ""

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [146]:
Films.head(5)

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,Language_language_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42,
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,

In [136]:
list(Films['language_id'])

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [64]:
Inventory = pd.read_csv('data/inventory.csv', encoding = 'ISO 8859-1')

In [65]:
Inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

In [81]:
Inventory

     inventory_id  film_id  store_id          last_update
0               1        1         1  2006-02-15 05:09:17
1               2        1         1  2006-02-15 05:09:17
2               3        1         1  2006-02-15 05:09:17
3               4        1         1  2006-02-15 05:09:17
4               5        1         2  2006-02-15 05:09:17
..            ...      ...       ...                  ...
995           996      222         2  2006-02-15 05:09:17
996           997      222         2  2006-02-15 05:09:17
997           998      222         2  2006-02-15 05:09:17
998           999      223         2  2006-02-15 05:09:17
999          1000      223         2  2006-02-15 05:09:17

[1000 rows x 4 columns]

In [91]:
Inventory.groupby("film_id")["inventory_id"].value_counts()

inventory_id  film_id
1             1          1
2             1          1
3             1          1
4             1          1
5             1          1
                        ..
996           222        1
997           222        1
998           222        1
999           223        1
1000          223        1
Name: count, Length: 1000, dtype: int64

In [94]:
(Inventory.groupby('film_id').size())

film_id
1      8
2      3
3      4
4      7
5      3
      ..
218    7
219    4
220    8
222    6
223    2
Length: 207, dtype: int64

In [95]:
Language = pd.read_csv('data/language.csv', encoding = 'ISO 8859-1')

In [151]:
Language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [98]:
Language["name"]

0     English
1     Italian
2    Japanese
3    Mandarin
4      French
5      German
Name: name, dtype: object

In [99]:
HDD = pd.read_csv('data/old_HDD.csv', encoding = 'ISO 8859-1')

In [100]:
HDD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

In [106]:
len(HDD["first_name"].unique())

38

In [112]:
HDD["title"].unique()

array(['ACADEMY DINOSAUR', 'ANACONDA CONFESSIONS', 'ANGELS LIFE',
       'BULWORTH COMMANDMENTS', 'CHEAPER CLYDE', 'COLOR PHILADELPHIA',
       'ELEPHANT TROJAN', 'GLEAMING JAWBREAKER', 'HUMAN GRAFFITI',
       'KING EVOLUTION', 'LADY STAGE', 'LANGUAGE COWBOY',
       'MULHOLLAND BEAST', 'OKLAHOMA JUMANJI', 'RULES HUMAN',
       'SPLASH GUMP', 'VERTIGO NORTHWEST', 'WESTWARD SEABISCUIT',
       'WIZARD COLDBLOODED', 'ADAPTATION HOLES', 'APACHE DIVINE',
       'BABY HALL', 'BULL SHAWSHANK', 'CHAINSAW UPTOWN',
       'CHISUM BEHAVIOR', 'DESTINY SATURDAY', 'DRACULA CRYSTAL',
       'FIGHT JAWBREAKER', 'FLASH WARS', 'GILBERT PELICAN',
       'GOODFELLAS SALUTE', 'HAPPINESS UNITED', 'INDIAN LOVE',
       'JEKYLL FROGMEN', 'JERSEY SASSY', 'LIAISONS SWEET', 'LUCKY FLYING',
       'MAGUIRE APACHE', 'MALLRATS UNITED', 'MASK PEACH', 'ROOF CHAMPION',
       'RUSHMORE MERMAID', 'SMILE EARRING', 'WARDROBE PHANTOM',
       'ALONE TRIP', 'ARMY FLINTSTONES', 'ARTIST COLDBLOODED',
       'BOONDOCK BALLROOM', 'CADDYSHACK JEDI', 'COWBOY DOOM',
       'EVE RESURRECTION', 'FORREST SONS', 'FRENCH HOLIDAY', 'FROST HEAD',
       'HALLOWEEN NUTS', 'HUNTER ALTER', 'IMAGE PRINCESS',
       'JEEPERS WEDDING', 'LUCK OPUS', 'NECKLACE OUTBREAK',
       'PLATOON INSTINCT', 'SPICE SORORITY', 'WEDDING APOLLO',
       'WEEKEND PERSONAL', 'WHALE BIKINI', 'YOUNG LANGUAGE',
       'BAREFOOT MANCHURIAN', 'BED HIGHBALL', 'BLADE POLISH',
       'GHOSTBUSTERS ELF', 'GREEDY ROOTS', 'HANOVER GALAXY',
       'INSTINCT AIRPORT', 'JUMANJI BLADE', 'NATIONAL STORY',
       'POSEIDON FOREVER', 'RAIDERS ANTITRUST', 'RANDOM GO', 'REDS POCUS',
       'SILVERADO GOLDFINGER', 'SUBMARINE BED', 'TREASURE COMMAND',
       'UNFORGIVEN ZOOLANDER', 'AMADEUS HOLY', 'BANGER PINOCCHIO',
       'BONNIE HOLOCAUST', 'CHITTY LOCK', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'ENOUGH RAGING', 'ESCAPE METROPOLIS', 'FIRE WOLVES',
       'FRONTIER CABIN', 'GRAIL FRANKENSTEIN', 'GROOVE FICTION',
       'HALL CASSIDY', 'HEAVENLY GUN', 'KRAMER CHOCOLATE',
       'LOVE SUICIDES', 'METAL ARMAGEDDON', 'PACIFIC AMISTAD',
       'PATTON INTERVIEW', 'POCUS PULP', 'RIDGEMONT SUBMARINE',
       'RINGS HEARTBREAKERS', 'SOLDIERS EVOLUTION', 'STAR OPERATION',
       'SUNRISE LEAGUE', 'ANTITRUST TOMATOES', 'BANG KWAI',
       'BEAST HUNCHBACK', 'BIKINI BORROWERS', 'CALENDAR GUNFIGHT',
       'COAST RAINBOW', 'COLDBLOODED DARLING', 'CROSSROADS CASUALTIES',
       'DROP WATERFRONT', 'IGBY MAKER', 'LESSON CLEOPATRA',
       'LIBERTY MAGNIFICENT', 'POTLUCK MIXED', 'SPEED SUIT',
       'TITANIC BOONDOCK', 'TRADING PINOCCHIO', 'WYOMING STORM',
       'ANONYMOUS HUMAN', 'ARACHNOPHOBIA ROLLERCOASTER', 'BERETS AGENT',
       'BREAKING HOME', 'COMMAND DARLING', 'CONFESSIONS MAGUIRE',
       'DAZED PUNK', 'DECEIVER BETRAYED', 'DESTINATION JERK',
       'EXCITEMENT EVE', 'GASLIGHT CRUSADE', 'HELLFIGHTERS SIERRA',
       'MALKOVICH PET', 'OCTOBER SUBMARINE', 'OPEN AFRICAN',
       'SAINTS BRIDE', 'SAVANNAH TOWN', 'SCISSORHANDS SLUMS',
       'SLEEPLESS MONSOON', 'SLEEPY JAPANESE', 'STING PERSONAL',
       'TOWN ARK', 'TRACY CIDER', 'TREATMENT JEKYLL', 'WAR NOTTING',
       'WARLOCK WEREWOLF', 'CAMPUS REMEMBER', 'CLONES PINOCCHIO',
       'CONQUERER NUTS', 'CROWDS TELEMARK', 'DANCES NONE',
       'DRIVING POLISH', 'DURHAM PANKY', 'HANGING DEEP', 'LIGHTS DEER',
       'LOSER HUSTLER', 'RUNNER MADIGAN', 'SCHOOL JACKET',
       'SCORPION APOLLO', 'SUGAR WONKA', 'TOMORROW HUSTLER',
       'VANISHING ROCKY', 'ANYTHING SAVANNAH', 'BIRCH ANTITRUST',
       'CHOCOLAT HARRY', 'CHOCOLATE DUCK', 'CROOKED FROGMEN',
       'CURTAIN VIDEOTAPE', 'DALMATIONS SWEDEN', 'HORROR REIGN',
       'LAWLESS VISION', 'LEBOWSKI SOLDIERS', 'MAJESTIC FLOATS',
       'PERDITION FARGO', 'PRIMARY GLASS', 'REEF SALUTE',
       'SNATCHERS MONTEZUMA', 'SWEETHEARTS SUSPECTS', 'TIES HUNGER',
       'TRAFFIC HOBBIT', 'UNTOUCHABLES SUNRISE', 'WATERFRONT DELIVERANCE',
       'WILD APOLLO', 'ALABAMA DEVIL', 'DIVINE RESURRECTION',
       'DRAGONFLY STRANGERS', 'GOLDFINGER SENSIBILITY',
       'JAWBREAKER BROOKLYN', 'LIFE TWISTED', 'LORD ARIZONA',
       'MOD SECRETARY', 'PREJUDICE OLEANDER', 'PUNK DIVORCE',
       'REAP UNFAITHFUL', 'SHAKESPEARE SADDLE', 'TROUBLE DATE',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'WON DARES',
       'CANYON STOCK', 'ENCINO ELF', 'ENDING CROWDS', 'GANDHI KWAI',
       'GODFATHER DIARY', 'HANDICAP BOONDOCK', 'HONEY TIES',
       'HORN WORKING', 'MEET CHOCOLATE', 'MOONWALKER FOOL',
       'OLEANDER CLUE', 'RACER EGG', 'STORY SIDE', 'STRANGERS GRAFFITI',
       'THIN SAGEBRUSH', 'TOOTSIE PILOT', 'UPTOWN YOUNG',
       'VELVET TERMINATOR', 'WEST LION', 'WORKER TARZAN',
       'ALLEY EVOLUTION', 'ARABIA DOGMA', 'ARIZONA BANG', 'BOUND CHEAPER',
       'BOWFINGER GABLES', 'BUNCH MINDS', 'CLEOPATRA DEVIL',
       'CONNECTICUT TRAMP', 'DARES PLUTO', 'DATE SPEED', 'DAY UNFAITHFUL',
       'DOORS PRESIDENT', 'FURY MURDER', 'HARDLY ROBBERS',
       'HIGHBALL POTTER', 'HOLES BRANNIGAN', 'INDEPENDENCE HOTEL',
       'LEATHERNECKS DWARFS', 'MONTEREY LABYRINTH', 'NOVOCAINE FLIGHT',
       'PERFECT GROOVE', 'REUNION WITCHES', 'SMOKING BARBARELLA',
       'STAGECOACH ARMAGEDDON', 'SWEDEN SHINING',
       'TELEMARK HEARTBREAKERS', 'VIRGINIAN PLUTO', 'ATTRACTION NEWTON',
       'CABIN FLASH', 'CHINATOWN GLADIATOR', 'CLASH FREDDY',
       'CLUELESS BUCKET', 'DRIVER ANNIE', 'FRIDA SLIPPER',
       'GALAXY SWEETHEARTS', 'GRINCH MASSAGE', 'GROUNDHOG UNCUT',
       'HOMEWARD CIDER', 'INCH JET', 'LEGALLY SECRETARY', 'LION UNCUT',
       'LOLITA WORLD', 'MODEL FISH', 'MOTIONS DETAILS', 'REBEL AIRPORT',
       'RIDER CADDYSHACK', 'SNOWMAN ROLLERCOASTER', 'SPLENDOR PATTON',
       'STEEL SANTA', 'TORQUE BOUND', 'ZHIVAGO CORE', 'CRANES RESERVOIR',
       'DIRTY ACE', 'DONNIE ALLEY', 'DRIFTER COMMANDMENTS',
       'DRUMS DYNAMITE', 'ENEMY ODDS', 'GORGEOUS BINGO', 'HIGH ENCINO',
       'HILLS NEIGHBORS', 'HOBBIT ALIEN', 'IMPACT ALADDIN',
       'ITALIAN AFRICAN', 'JAPANESE RUN', 'KENTUCKIAN GIANT',
       'LOVELY JINGLE', 'LOVER TRUMAN', 'MUSSOLINI SPOILERS',
       'POLISH BROOKLYN', 'SALUTE APOLLO', 'SATURDAY LAMBS',
       'STOCK GLASS', 'STREETCAR INTENTIONS', 'TIGHTS DAWN', 'TRAP GUYS',
       'TYCOON GATHERING', 'VOICE PEACH', 'BORROWERS BEDAZZLED',
       'BUTCH PANTHER', 'CASSIDY WYOMING', 'EGYPT TENENBAUMS',
       'EMPIRE MALKOVICH', 'FLYING HOOK', 'FUGITIVE MAGUIRE',
       'HYDE DOCTOR', 'KISS GLORY', 'KNOCK WARLOCK', 'LUKE MUMMY',
       'MAKER GABLES', 'MONTEZUMA COMMAND', 'NOON PAPI', 'ROSES TREASURE',
       'SHANE DARKNESS', 'SIEGE MADRE', 'THEORY MERMAID', 'VOLCANO TEXAS',
       'WEREWOLF LOLA', 'WONDERLAND CHRISTMAS', 'BLANKET BEVERLY',
       'BROTHERHOOD BLANKET', 'CAROL TEXAS', 'DELIVERANCE MULHOLLAND',
       'EAGLES PANKY', 'EARRING INSTINCT', 'EASY GLADIATOR',
       'ENTRAPMENT SATISFACTION', 'GABLES METROPOLIS',
       'IMPOSSIBLE PREJUDICE', 'MAGNIFICENT CHITTY', 'MIRACLE VIRTUAL',
       'MISSION ZOOLANDER', 'REAR TRADING', 'SENSE GREEK',
       'CAPER MOTIONS', 'CASPER DRAGONFLY', 'CAT CONEHEADS',
       'CUPBOARD SINNERS', 'CYCLONE FAMILY', 'FEVER EMPIRE',
       'FIDELITY DEVIL', 'GREATEST NORTH', 'IRON MOON', 'JAWS HARRY',
       'LIES TREATMENT', 'MICROCOSMOS PARADISE', 'MOVIE SHAKESPEARE',
       'MUMMY CREATURES', 'ROAD ROXANNE', 'SIDE ARK', 'SINNERS ATLANTIS',
       'STRANGER STRANGERS', 'TADPOLE PARK', 'ATTACKS HATE',
       'BOILED DARES', 'EARLY HOME', 'ELIZABETH SHANE', 'GUMP DATE',
       'INNOCENT USUAL', 'INSIDER ARIZONA', 'JERK PAYCHECK', 'SLING LUKE',
       'STATE WASTELAND', 'SUN CONFESSIONS', 'TEQUILA PAST',
       'TUXEDO MILE', 'VIRGIN DAISY', 'ACE GOLDFINGER', 'CIRCUS YOUTH',
       'CONTROL ANTHEM', 'DARN FORRESTER', 'DYNAMITE TARZAN',
       'HATE HANDICAP', 'HOMICIDE PEACH', 'JACKET FRISCO', 'OSCAR GOLD',
       'PELICAN COMFORTS', 'PERSONAL LADYBUGS', 'RAGING AIRPLANE',
       'RUN PACIFIC', 'SADDLE ANTITRUST', 'SHAWSHANK BUBBLE', 'TAXI KICK',
       'BEDAZZLED MARRIED', 'DINOSAUR SECRETARY', 'EGG IGBY',
       'JUNGLE CLOSER', 'LOLA AGENT', 'LOSE INCH', 'LOVERBOY ATTACKS',
       'MODERN DORADO', 'ORIENT CLOSER', 'PAJAMA JAWBREAKER',
       'PATIENT SISTER', 'SAGEBRUSH CLUELESS', 'SHANGHAI TYCOON',
       'WASTELAND DIVINE', 'WINDOW SIDE', 'AGENT TRUMAN', 'BORN SPINAL',
       'CHICKEN HELLFIGHTERS', 'CLOSER BANG', 'HOME PITY',
       'KILL BROTHERHOOD', 'LADYBUGS ARMAGEDDON', 'PINOCCHIO SIMON',
       'PLUTO OLEANDER', 'PRIX UNDEFEATED', 'PULP BEVERLY',
       'RIVER OUTLAW', 'SLEEPING SUSPECTS', 'THIEF PELICAN',
       'TITANS JERK', 'UNBREAKABLE KARATE', 'EVOLUTION ALTER',
       'EXPECATIONS NATURAL', 'GANGS PRIDE', 'HOOK CHARIOTS',
       'JERICHO MULAN', 'JUMPING WRATH', 'ODDS BOOGIE', 'OUTLAW HANKY',
       'RIGHT CRANES', 'SEATTLE EXPECATIONS', 'SKY MIRACLE',
       'TROJAN TOMORROW', 'BLACKOUT PRIVATE', 'CANDIDATE PERDITION',
       'CANDLES GRAPES', 'DIVIDE MONSTER', 'GOLDMINE TYCOON',
       'HOCUS FRIDA', 'HOTEL HAPPINESS', 'IDENTITY LOVER',
       'MAGNOLIA FORRESTER', 'OZ LIAISONS', 'SONS INTERVIEW',
       'STREAK RIDGEMONT', 'VANISHED GARDEN', 'WOLVES DESIRE',
       'YOUTH KICK', 'BLUES INSTINCT', 'CASUALTIES ENCINO',
       'CONNECTION MICROCOSMOS', 'CROW GREASE', 'DOOM DANCING',
       'FREEDOM CLEOPATRA', 'HAUNTED ANTITRUST', 'MOB DUFFEL',
       'PANIC CLUB', 'PURE RUNNER', 'SEVEN SWARM', 'SPINAL ROCKY',
       'AMERICAN CIRCUS', 'BOOGIE AMELIE', 'CITIZEN SHREK',
       'DOUBLE WRATH', 'FICTION CHRISTMAS', 'MASSAGE IMAGE',
       'SABRINA MIDNIGHT', 'BOULEVARD MOB', 'BRANNIGAN SUNRISE',
       'BUCKET BROTHERHOOD', 'CRAFT OUTFIELD', 'FOOL MOCKINGBIRD',
       'GUYS FALCON', 'LONELY ELEPHANT', 'MADISON TRAP',
       'PITTSBURGH HUNCHBACK', 'RANGE MOONWALKER', 'SORORITY QUEEN',
       'TEXAS WATCH', 'TRAIN BUNCH', 'TRAMP OTHERS', 'CIDER DESIRE',
       'EFFECT GLADIATOR', 'FREDDY STORM', 'GAMES BOWFINGER',
       'GLADIATOR WESTWARD', 'MOCKINGBIRD HOLLYWOOD', 'PILOT HOOSIERS',
       'PRESIDENT BANG', 'SPIRIT FLINTSTONES', 'WONKA SEA',
       'ALICE FANTASIA', 'ATLANTIS CAUSE', 'BEACH HEARTBREAKERS',
       'DUCK RACER', 'GILMORE BOILED', 'LAMBS CINCINATTI', 'MAIDEN HOME',
       'MIDNIGHT WESTWARD', 'NEIGHBORS CHARADE', 'NONE SPIKING',
       'ROOM ROMAN', 'SHOOTIST SUPERFLY', 'SHRUNK DIVINE', 'SPY MILE',
       'TELEGRAPH VOYAGE', 'WAIT CIDER', 'WIFE TURN', 'ALADDIN CALENDAR',
       'CENTER DINOSAUR', 'CHAMBER ITALIAN', 'ENCOUNTERS CURTAIN',
       'EXPRESS LONELY', 'HOURS RAGE', 'HUSTLER PARTY', 'JEOPARDY ENCINO',
       'JOON NORTHWEST', 'MAGIC MALLRATS', 'MONEY HAROLD',
       'OUTBREAK DIVINE', 'REIGN GENTLEMEN', 'SUMMER SCARFACE',
       'BEETHOVEN EXORCIST', 'BEVERLY OUTLAW', 'BIRDS PERDITION',
       'DUDE BLINDNESS', 'DUMBO LUST', 'FAMILY SWEET',
       'FIREHOUSE VIETNAM', 'MATRIX SNOWMAN', 'SILENCE KANE',
       'CLYDE THEORY', 'CRAZY HOME', 'FACTORY DRAGON', 'FERRIS MOTHER',
       'GONE TROUBLE', 'GREEK EVERYONE', 'HOOSIERS BIRDCAGE', 'ROCKY WAR',
       'WISDOM WORKER', 'BEHAVIOR RUNAWAY', 'CHAPLIN LICENSE',
       'CRUSADE HONEY', 'DEEP CRUSADE', 'FEUD FROGMEN', 'FIDDLER LOST',
       'HAROLD FRENCH', 'PACKER MADIGAN', 'PEACH INNOCENT',
       'PEARL DESTINY', 'CHANCE RESURRECTION', 'DAUGHTER MADIGAN',
       'DREAM PICKUP', 'FATAL HAUNTED', 'FEATHERS METAL',
       'JUGGLER HARDLY', 'ROBBERS JOON', 'ROCK INSTINCT', 'TEEN APOLLO',
       'TEMPLE ATTRACTION', 'WATERSHIP FRONTIER', 'WHISPERER GIANT',
       'WRONG BEHAVIOR', 'DORADO NOTTING', 'GUNFIGHTER MUSSOLINI',
       'KANE EXORCIST', 'LOATHING LEGALLY', 'PEAK FOREVER',
       'REDEMPTION COMFORTS', 'SHIP WONDERLAND', 'SQUAD FISH',
       'VOLUME HOUSE', 'BALLROOM MOCKINGBIRD', 'NASH CHOCOLAT',
       'QUEST MUSSOLINI', 'ROCKETEER MOTHER', 'RUGRATS SHAKESPEARE',
       'ALIEN CENTER', 'BLINDNESS GUN', 'GUN BONNIE', 'HEAVEN FREEDOM',
       'INTOLERABLE INTENTIONS', 'MENAGERIE RUSHMORE',
       'TALENTED HOMICIDE', 'TRUMAN CRAZY', 'VALENTINE VANISHING',
       'WANDA CHAMBER', 'ALASKA PHANTOM', 'CARRIE BUNCH',
       'FIREBALL PHILADELPHIA', 'INTRIGUE WORST', 'METROPOLIS COMA',
       'PATHS CONTROL', 'STALLION SUNDANCE', 'STAMPEDE DISTURBING',
       'UNITED PILOT', 'WATCH TRACY', 'WORKING MICROCOSMOS',
       'ANALYZE HOOSIERS', 'CLUB GRAFFITI', 'CONGENIALITY QUEST',
       'DESIRE ALIEN', 'FRISCO FORREST', 'GENTLEMEN STAGE', 'IDAHO LOVE',
       'IDOLS SNATCHERS', 'KISSING DOLLS', 'LEGEND JEDI', 'PURPLE MOVIE',
       'TARZAN VIDEOTAPE', 'BILKO ANONYMOUS', 'BINGO TALENTED',
       'COMANCHEROS ENEMY', 'DESERT POSEIDON', 'EVERYONE CRAFT',
       'EXORCIST STING'], dtype=object)

In [114]:
Rental = pd.read_csv('data/rental.csv', encoding = 'ISO 8859-1')

In [115]:
Rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

In [128]:
Rental["inventory_id"].sort_values()

970       2
359       6
993      17
463      20
550      23
       ...
675    4558
871    4568
869    4573
580    4579
709    4581
Name: inventory_id, Length: 1000, dtype: int64

In [154]:
Films

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,Language_language_id,inventory2_inventory_id,old_hdd2_category_id
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,,,
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42,,,
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42,,,
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42,,,
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42,,,
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42,,,
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42,,,
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42,,,
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,,,

In [159]:
Films['old_hdd2_category_id'] = Films['old_hdd2_category_id'].apply(lambda x: int(x) if x != '' else None)

In [162]:
HDD['category_id'] = HDD['category_id'].apply(lambda x: int(x) if x != '' else None)

In [165]:
Films= Films.join(HDD.set_index('category_id'), on='old_hdd2_category_id')

# Rename the column to match the desired column name
Films.rename(columns={'category_id': 'old_hdd2_category_id'}, inplace=True)

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [166]:
Films = pd.merge(Films, HDD[['old_hdd2_category_id', 'category_id']], on='category_id')

KeyError: "['old_hdd2_category_id'] not in index"